{{ if eq .chezmoi.os "android" }}
## TERMUX## TERMUX
# cd codePath #  
function cd-code
    set codePath ~/code;cd $codePath
end
function chezmoi-cd
    cd (chezmoi source-path)
end
function gp
    set text (uname --operating-system), (date)
    git add -A .;git commit -am "$text";git push $argv;
end
function venv
  python -m venv .venv $argv;
  .venv/bin/python -m pip install -U pip setuptools wheel pip-tools yapf autoflake isort coverage $argv;
  printf "#!/usr/bin/env bash \nsource .venv/bin/activate" > .envrc;direnv allow
end
#function envrc
#  printf "#!/usr/bin/env bash \nsource .venv/bin/activate" > .envrc;direnv allow
#end
## END TERMUX
#############
{{ end }}
