{{ if eq .chezmoi.os "android" -}}
#!/data/data/com.termux/files/usr/bin/env fish

#for aliaseviation in (alias -l)
#    alias -e $abbreviation
{{ else if eq .chezmoi.os "linux" -}}
#!/usr/bin/env zsh

alias g='git '
alias gf='git fetch '
alias gs='git status '
alias gc='git commit -m '
alias md='mkdir -p '
alias pi='.venv/bin/python -m pip install -U '
alias rm='rm -Rf '
alias xx='chmod +x '
alias z='chezmoi '
alias ze='chezmoi edit --apply '
alias pi=".venv/bin/python -m pip install -U "
alias m="micro "
alias sshd="sudo /sbin/sshd -h ~/.ssh/id_rsa;ip addres |grep 192.168."
